.card {
  list-style-type: none;
  display: flex;
  gap: 20px;
  max-width: 500px;
  max-height: 340px;
  font-family: Inter;
  box-shadow: 0px 3px 15px #d0d0d0;

  &__image {
    min-width: 230px;
    min-height: 340px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-title {
      display: block;
      font-size: 20px;
      font-weight: 600;
    }
    &-time {
      font-weight: 200;
    }
    &-genres {
      font-weight: 300;
      display: flex;
      gap: 10px;

      &-genre {
        border: 1px solid #b5b8b1;
        padding: 3px;
      }
    }
    &-text {
      min-width: 250px;
      padding-right: 20px;
    }
  }
}
